h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1d2d44;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #748cab;
}

.highlight {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.article .highlight {
  color: #f44336;
}
